/* Глобальные стили для проекта, их можно дополнять и менять по желанию */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: "IBM Plex mono", monospace;
  min-inline-size: 375px;
  max-inline-size: 1440px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

button,
a {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  outline: none;
}

button:focus,
a:focus {
  outline: none;
}

@media (prefers-color-scheme: dark) {
  .theme_auto {
    --link-shadow-color: #ff0070;
    --menu-color: #ff0070;
    --menu-hover-border: #ff007066;
    --focus-color: #db00ff;
    --text-color: #f1b2ce;
    --h2-text-color: #ff0070;
    --h3-text-color: #000028;
    --h4-text-color: #000028;
    --accent-text-color: #000028;
    background-color: #000028;
    background-image: url("../images/cover-image-dark.png");
  }
}

@media (prefers-color-scheme: light) {
  .theme_auto {
    --link-shadow-color: #ff8dcb;
    --menu-color: #353430;
    --menu-hover-border: #35343066;
    --focus-color: #ffc2e6;
    --text-color: #353430;
    --h2-text-color: #353430;
    --h3-text-color: #000028;
    --h4-text-color: #353430;
    background-color: #fff1f7;
    background-image: url("../images/cover-image-light.png");
  }

  .rec {
    display: none;
  }
}
