/* Глобальные стили для проекта, их можно дополнять и менять по желанию */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-inline-size: 375px;
  max-inline-size: 1440px;
  margin: 0 auto;
  font-family: 'IBM Plex mono', monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

button,
a {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

@media (prefers-color-scheme: dark) {
  .theme_auto {
    background-image: url("../images/cover-image-dark.png");
    --menu-color: #FF0070;
    --focus-color: #db00ff;
    --text-color: #f1b2ce;
    --accent-text-color: #000028;
    background-color: #000028;
  }
}

@media (prefers-color-scheme: light) {
  .theme_auto {
    background-image: url("../images/cover-image-light.png");
    --menu-color: #353430;
    --focus-color: #ffc2e6;
    --text-color: #353430;
    --accent-text-color: #353430;
    background-color: #fff1f7;
  }
}