.page {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  height: 768px;
  padding: 20px;
}

.rec {
  position: absolute;
  top: 22px;
  right: 27px;
  display: block;
  color: var(--accent-color);
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
}

.rec::after {
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-left: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  filter: blur(2px);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid var(--accent-color);
}

.decorated-zone::before {
  bottom: 20px;
  left: 20px;
  border-top: none;
  border-right: none;
}

.decorated-zone::after {
  top: 20px;
  right: 20px;
  border-bottom: none;
  border-left: none;
}

.big_text {
  font-weight: 700;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 82.5%;
}

.header__theme-menu {
  justify-self: center;
  align-self: start;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.header__theme-menu-button {
  width: 70px;
  height: 26px;
  border: none;
  padding: 0px 13px;
  color: var(--menu-color);
  background-color: transparent;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--menu-color);
}

.header__theme-menu-button:focus {
  border-bottom: 1px solid var(--menu-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--menu-color);
  text-decoration: none;
}

.header__title {
  align-self: center;
  margin-inline-start: -20px;
  color: var(--focus-color);
  text-shadow: 4px 4px 0px var(--accent-color);
}

.header__subtitle {
  justify-self: end;
  align-self: center;
  width: 50%;
  margin-block-end: 60px;
}

.header__subtitle p {
  font-size: 18px;
  line-height: 23.4px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 60px 20px;
}

.why {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

.articles__column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.articles__row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.article p {
  color: var(--text-color);
  font-size: 18px;
  line-height: 23.4px;
}

.article p a {
  position: relative;
  font-size: 18px;
  line-height: 23.4px;
  text-decoration: none;
  text-shadow: 1px 1px 0px var(--link-shadow-color);
}

.article p a:hover {
  text-decoration: underline;
}

.article p a:focus {
  border: 1px solid var(--text-color);
}

.not_colored_h2 {
  color: var(--accent-color);
  font-weight: 700;
  font-size: 18px;
}

.colored_h3 {
  color: var(--accent-text-color);
  font-weight: 700;
  font-size: 18px;
  background-color: var(--accent-color);
}

.colored_h4 {
  color: var(--accent-text-color);
  font-weight: 400;
  font-size: 18px;
  background-color: var(--accent-color);
}

.what {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.grid_h {
  width: calc((100% - 40px) / 3);
}

.how {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

.images {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.image__grid {
  display: grid;
  grid-template-areas:
    "sunset sunset cream"
    "tape books cream"
    "tape street street";
  gap: 20px;
}

.image__grid__item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.sunset {
  grid-area: sunset;
}

.tape {
  grid-area: tape;
}

.books {
  grid-area: books;
}

.street {
  grid-area: street;
}

.cream {
  grid-area: cream;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 768px;
}

.footer__text {
  align-self: center;
  color: var(--focus-color);
  text-shadow: 2px 2px 0px var(--accent-color);
}

@media (768px <= width < 1024px) {
  .header {
    justify-content: space-evenly;
    height: 1024px;
  }

  .header__theme-menu {
    justify-self: end;
    align-self: center;
    margin-block-start: 110px;
  }

  .header__theme-menu-list {
    flex-direction: column;
  }

  .header__subtitle {
    margin-block-end: 110px;
  }

  .articles__row {
    grid-template-columns: 1fr;
  }

  .footer {
    height: 1024px;
  }
}

@media (width < 768px) {
  .header {
    justify-content: space-evenly;
    height: 668px;
    padding: 10px;
  }
  .rec {
    top: 12px;
    right: 17px;
  }

  .header__theme-menu {
    justify-self: end;
    align-self: center;
  }

  .header__theme-menu-list {
    flex-direction: column;
  }

  .header__title {
    margin-inline-start: 0px;
  }

  .big_text {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .header__subtitle {
    width: 100%;
    margin-block-end: 18px;
  }

  .decorated-zone::before {
    bottom: 10px;
    left: 10px;
    border-top: none;
    border-right: none;
  }

  .decorated-zone::after {
    top: 10px;
    right: 10px;
    border-bottom: none;
    border-left: none;
  }

  .grid_h {
    width: 100%;
  }

  .why,
  .how,
  .what {
    grid-template-columns: 1fr;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 40px 10px;
  }

  .articles__row {
    grid-template-columns: 1fr;
  }

  .image__grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .footer {
    height: 668px;
  }
}
