.page {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}

header {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  height: 768px;
  padding: 20px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid var(--accent-color);
}

.decorated-zone::before {
  bottom: 20px;
  left: 20px;
  border-top: none;
  border-right: none;
}

.decorated-zone::after {
  top: 20px;
  right: 20px;
  border-bottom: none;
  border-left: none;
}

.big_text {
  font-weight: 700;
  font-size: 157px;
  line-height: 82.5%;
}

.header__theme-menu {
  align-self: start;
  justify-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.header__theme-menu-button {
  border: none;
  width: 70px;
  height: 26px;
  padding: 0px 13px;
  color: var(--menu-color);
  background-color: transparent;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--menu-color);
}

.header__theme-menu-button:focus {
  border-bottom: 1px solid var(--menu-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--menu-color);
  text-decoration: none;
}

.header__title {
  color: var(--focus-color);
  align-self: center;
  text-shadow: 4px 4px 0px var(--accent-color);
  margin-inline-start: -20px;
}

.header__subtitle {
  align-self: center;
  justify-self: end;
  margin-block-end: 60px;
  width: 50%;
}
.header__subtitle p {
  font-size: 18px;
  line-height: 23.4px;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 60px 20px;
}

.why {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

.articles__column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.articles__row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.article p {
  font-size: 18px;
  line-height: 23.4px;
  color: var(--text-color);
}

.article p a {
  position: relative;
  font-size: 18px;
  line-height: 23.4px;
  text-shadow: 1px 1px 0px var(--link-shadow-color);
  text-decoration: none;
}

.article p a:hover {
  text-decoration: underline;
}
.article p a:focus {
  border: 1px solid var(--text-color);}

.not_colored_h2 {
  color: var(--accent-color);
  font-weight: 700;
  font-size: 18px;
}

.colored_h3 {
  color: var(--accent-text-color);
  font-weight: 700;
  font-size: 18px;
  background-color: var(--accent-color);
}
.colored_h4 {
  color: var(--accent-text-color);
  font-weight: 400;
  font-size: 18px;
  background-color: var(--accent-color);
}

.what {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.grid_h {
  width: calc((100% - 40px) / 3);
}

.how {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.images {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.image_grid {
  display: grid;
  --edge: calc((100% - 40px) / 3);
  grid-template-columns: repeat(3, var(--edge));
  grid-template-rows: repeat(3, var(--edge));
  gap: 20px;
}

.image_grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img__top__left {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.img__right__top {
  grid-column: 3/ 4;
  grid-row: 1 /3;
}

.img__left__down {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}

.img__down__right {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 768px;
}

.footer__text {
  color: var(--focus-color);
  text-shadow: 2px 2px 0px var(--accent-color);
  align-self: center;
}

@media (width <= 768px) {
  @media (orientation: landscape) {
    .header {
      justify-content: space-evenly;
      height: 1024px;
    }
    .header__theme-menu {
      align-self: center;
      justify-self: end;
      padding-inline-end: 20px;
    }
    .header__theme-menu-list {
      flex-direction: column;
    }
    .big_text {
      font-size: 120px;
    }
    .articles__row {
      grid-template-columns: 1fr;
    }
    .footer {
      height: 1024px;
    }
  }
}
